.margin-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.page-name-input {
  width: 300px;
}

.survey-wrap {
  margin-bottom: 100px;
}

.modal-ask {
  width: 350px;
  height: 200px;
  position: relative;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.delete-tag {
  color: #00000047;
}

.wrap-page-name-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-tabs__tab {
  width: auto;
  min-width: 80px;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.ask-checkbox {
  height: 17px;
  width: 17px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: baseline;
}

.input-ask-wrapp {
  width: 100%;
}
