.margin-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-quest {
  width: 70%;
  height: auto;
  justify-content: flex-start;
}

.margin-b {
  margin-top: 10px;
}

.modal-panel-button {
  display: flex;
  justify-content: flex-start;
}

.modal-error {
  height: 25px;
}

.quest-input-title {
  width: 100%;
  margin-bottom: 15px;
}

.answer-help {
  bottom: -15px;
  
}