.chart-wrapp {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.star-icon {
  margin: 0 5px;
}

.star-label {
  width: 100px;
}

.text-anwer-wrapp {
  margin-top: 20px;
}
