.chart-wrapp {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.stars-wrapp {
  position: absolute;
  display: inline-block;
  top: 37%;
  left: 18%;
  transform: rotate(90deg);
}

.star-icon {
  margin: 0 5px;
}

.star-label {
  width: 100px;
}

.text-anwer-wrapp {
  margin-top: 20px;
}
