.paginationWrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-b-40 {
  margin-bottom: 40px;
}

.margin-r-20 {
  margin-right: 20px;
}

.top-button {
  position: absolute;
  top: 20%;
}

.result-button {
  right: 13%;
}

.copy-button {
  right: 1%;
}

.survey-link-wrapp {
  position: relative;
}
