.paginationWrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-r-20 {
  margin-right: 20px;
}

.survey-link-wrapp {
  position: relative;
}

.top-button {
  position: absolute;
  top: 20%;
}

.copy-button {
  right: 1%;
}

.survey-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.survey-link__name {
  max-width: 70%;
  color: black;
  text-decoration: underline;
}
