.login-form {
  height: 250px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-form__button_sign-in {
  margin-left: 15%;
} 
