header {
  width: 100vw;
}

.header__wrap-logo__logo img {
  max-height: 3.5rem;
}

.username-wrapp {
  padding: 10px 20px;
  background: #aeaeae;
  color: aliceblue;
  border-radius: 15px;
  margin-right: 20px;
}
